@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'GrtskTera';
$fontFamily2: 'GTAmerica';
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 375px;
$maxWidth: 1440px;
$maxWidthContainer: 1920;
$md0: 1440 + 12;
$md1: 1252;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$blue: #45A1E3;
$black: #262626;

$_184:184px; /*===>>>   96*/
$_144:144px;/*===>>>  80*/
$_96:96px;/*===>>>  64*/
$_80:80px;/*===>>> 56*/
$_64:64px;
$_56:56px;/*===>>> 48*/
$_48:48px;/*===>>>*/
$_40:40px;/*===>>>*/
$_32:32px;/*===>>>*/
$_24:24px;/*===>>>*/
$_20:20px;/*===>>>*/
$_16:16px;/*===>>>*/

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
html {
  min-width: $minWidth;
 // max-width: $maxWidth;
}

body {

  color: $mainColor;

  &._lock {
    overflow: hidden;
  }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &._loaded {
  }
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;

  @media (max-width: $md0 + px) {
    max-width: 1440px;
  }
  @media (max-width: $md1 + px) {
    max-width: $md1+px;
  }
  @media (max-width: $md2+px) {
    max-width: $md2+px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
/*$md0: 1440 + 12;
$md1: 1252;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
*/
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
}

.global_button {
  cursor: pointer;
  width: 192px;
  height: 58px;
  background: #0094FF;
  border-radius: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  font-family: $fontFamily2;
  font-size: 12px;
  line-height: 16px;
  box-shadow: 0 0 20px rgba(0, 148, 255, 0.6);
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

/*----FOR_INVESTORS------*/

.for-investors {
  min-height: 744px;
  height: 744px;
  background: url("../img/ForInvestors/background1.jpg") center / cover no-repeat;

  &__body {
    height: 744px;
    position: relative;
  }

  &__icons {
    position: absolute;
    bottom: 26px;
    right: 35px;
    display: flex;
    width: 154px;
    height: 46px;
    justify-content: space-between;

    a {
      height: 46px;
      width: 46px;
      border-radius: 50%;
      border: 1px solid #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .disc:hover{
      border: none;
      background: #7581F0;
    }
    .twit:hover{
      border: none;
      background: rgba(91, 206, 255, 1);
    }
    .tel:hover{
      border: none;
      background:rgba(0, 148, 255, 1);
    }
  }

  &__lines {
    height: 744px;
    display: flex;
    flex-direction: column;
    padding: 182px 94px 154px;
  }

  &__line {
    font-weight: 700;
    font-size: 124px;
    line-height: 83%;
    letter-spacing: -0.015em;
    color: #FFFFFF;
  }

  &__line.line__1 {
    padding-left: 114px;
  }

  &__line.line__2 {
    color: $blue;
    text-align: right;
  }

  &__line.line__3 {
    display: flex;
    align-items: center;
  }

  &__line.line__4 {
    color: $blue;
    text-align: center;
  }

  &__p {
    font-family: $fontFamily2;
    font-weight: 300;
    font-size: 12px;
    line-height: 133%;
    text-transform: uppercase;
    color: #FFFFFF;

    max-width: 281px;
    letter-spacing: 1px;
    margin-left: 48px;
  }

}

/*---------------WHY---------------*/
.why {
  &__container {
  }

  &__body {
    position: relative;
    padding: $_144 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-object {
    position: absolute;
    top: 0;
    left: 0;

    &__elips1 {
      top: -23px;
      left: -246px;
      width: 413px;
      height: 592px;
      background: linear-gradient(90deg, #9796F0 0%, #FBC7D4 100%);
      filter: blur(200px);
      transform: rotate(-27.97deg);
      z-index: -10;
    }

    &__akyla {
      top: 114px;
      left: 32px;
    }

    &__tigr {
      top: 95px;
      left: 1040px;
      transform: rotate(13.76deg);
    }

    &__elips2 {
      width: 413px;
      height: 489.61px;
      left: 1080px;
      top: 527px;
      background: linear-gradient(90deg, #DAD299 0%, #B0DAB9 100%);
      filter: blur(200px);
      transform: rotate(15deg);
      z-index: -10;
    }
  }

  &__title {
    max-width: 285px;
    font-weight: 700;
    font-size: 80px;
    line-height: 83%;
    text-align: center;
    letter-spacing: -0.015em;
    color: $black;
    margin-bottom: 40px;
  }

  &__subtitle {
    max-width: 426px;
    font-weight: 300;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.035em;
    color: $black;
  }

  &-main {
    padding-top: 80px;
    display: flex;
    min-height: 605px;
    justify-content: center;

    & > *:not(:last-child) {
      margin-right: 24px;
    }

    &__block {
    }

    .circle-block {
      padding-top: 80px;
      border-radius: 50%;
      width: 525px;
      height: 525px;
      display: flex;
      flex-direction: column;
      align-items: center;

      background: rgba(255, 255, 255, 0.08);
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      backdrop-filter: blur(40px);


      &__icon {

        margin-bottom: 32px;
      }

      &__title {
        text-align: center;
        max-width: 378px;
        font-weight: 500;
        font-size: 32px;
        line-height: 130%;
        margin-bottom: 16px;
      }

      &__subtitle {
        text-align: center;
        font-family: $fontFamily2;
        max-width: 385px;
        font-weight: 300;
        font-size: 22px;
        line-height: 130%;
      }
    }
  }
}

/*--------------END-WHY---------------*/

/*------------YouInvest--------------*/

.you-invest {
  position: relative;
  min-height: 744px;
  background: $black;
  z-index: -2;

  &__container {
  }

  &__body {
    padding: 80px 0 32px;
    position: relative;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &_before {
      position: absolute;
      width: 100%;
      height: 463.8px;
      left: 0;
      top: 0;

      font-weight: bold;
      font-size: 510.685px;
      line-height: 90%;
      letter-spacing: -0.02em;
      opacity: 0.05;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 80px;
    line-height: 83%;
    letter-spacing: -0.015em;
    margin-bottom: 40px;
  }

  &__subtitle {
    font-family: $fontFamily2;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.035em;
    max-width: 200px;
  }

  .invest-slider {
    position: relative;
    margin-top: 93px;
    width: 817px;
    height: 408.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;

    &__title {
      margin-top: 156px;
      margin-bottom: 90px;
      max-width: 467px;
      font-weight: 500;
      font-size: 32px;
      line-height: 130%;
      text-align: center;
      position: relative;
      z-index: 10;
    }

    &__price {
      font-family: $fontFamily2;
      position: relative;
      z-index: 10;
      width: 258px;
      font-weight: 300;
      font-size: 22px;
      line-height: 130%;
      text-align: center;
      padding-bottom: 16px;


      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #FFFFFF;
        opacity: 0.2;
      }
    }

    .black-elips {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    .blue-elips {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 10;
      transform: translate(-50%, 0);
    }

    .star {
      position: absolute;
      left: -23px;
      top: -23px;
      z-index: -1;
    }

    .line-elips {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }

  }

}

/*-----------END-YouInvest--------------*/
/*=====================================*/
/*------------YouKeys--------------*/
.your-keys {
  &__container {
  }

  &__body {
    padding: 144px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $black;
    position: relative;
  }

  &-object {
    position: absolute;
    top: 0;
    left: 0;

    &__elips1 {
      z-index: -10;
      top: -137px;
      left: 820px;
      width: 413px;
      height: 592px;
      filter: blur(200px);
      background: linear-gradient(90deg, #2BC0E4 0%, #EAECC6 100%);
      transform: rotate(15deg);
    }
  }

  &__title {
    max-width: 1000px;
    text-align: center;
    font-weight: 700;
    font-size: 80px;
    line-height: 83%;
    letter-spacing: -0.015em;
    margin-bottom: 40px;
  }

  &__subtitle {
    max-width: 412px;
    text-align: center;
    font-family: $fontFamily2;
    font-weight: 300;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: -0.035em;
    margin-bottom: 80px;
  }

  &__cards {
    display: flex;
    margin-bottom: 56px;
  }

  .card-keys.card2 {
    margin-right: 0;
    margin-top: 135px;

    .card-keys__icon {
      img {
        margin: 48px auto 78px;
        width: 260px;
        height: 145px;
      }
    }
  }

  .card-keys.card2:after {
    background: #73C6F4;
  }

  .card-keys {
    color: black;
    position: relative;
    width: 442px;
    height: 549px;
    border-radius: 16px;
    margin-right: 24px;
    padding: 40px;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 18px;
      left: 0;
      bottom: 0;
      background: #F47373;
      border-radius: 0 0 16px 16px;
    }

    &__rect img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -11;
      backdrop-filter: blur(40px);
    }

    &__number {
      position: absolute;
      width: 136px;
      height: 76px;
      left: 40px;
      top: 30px;
      font-weight: 500;
      font-size: 80px;
      line-height: 96%;
      color: white;
      text-shadow: 0px 0px 1px black;
      z-index: -1;
    }

    &__title {
      margin-top: 30px;
      font-weight: 500;
      font-size: 48px;
      line-height: 130%;
    }

    &__icon {
      display: flex;

      img {
        margin: 48px auto;
        width: 145px;
        height: 145px;
      }
    }

    &__subtitle {
      max-width: 338px;
      font-family: $fontFamily2;
      font-weight: 300;
      font-size: 22px;
      line-height: 130%;
      letter-spacing: -0.035em;
    }

  }

}

/*-----------END-YouKeys--------------*/

/*------------provide--------------*/

.provide {
  &__container {
  }

  &__body {
    padding: 0 0 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $black;
    position: relative;
  }

  &-object {
    position: absolute;
    top: 0;
    left: 0;

    &__elips1 {
      z-index: -10;
      top: 350px;
      left: -30px;
      width: 413px;
      height: 592px;
      filter: blur(250px);
      background: linear-gradient(90deg, #9796F0 0%, #FBC7D4 100%);
      transform: rotate(45deg);
    }
  }

  &__title {
    max-width: 1000px;
    text-align: center;
    font-weight: 700;
    font-size: 80px;
    line-height: 83%;
    letter-spacing: -0.015em;
    margin-bottom: 80px;
  }

  &__lines {
    display: flex;
    flex-direction: column;
    max-width: 1151px;

    &-line {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      margin-left: 105px;

      &:nth-child(even) {
        margin-left: 0;
        flex-direction: row-reverse;
        justify-content: flex-end;

        .provide__lines-line__title {
          padding-right: 0;
          margin-left: 140px;
        }
      }

      &__title {
        padding-right: 6px;
        max-width: 570px;

        .h {
          font-weight: 500;
          font-size: 32px;
          line-height: 130%;
          margin-bottom: 16px;
        }

        .p {
          font-family: $fontFamily2;
          font-weight: 300;
          font-size: 22px;
          line-height: 130%;
          letter-spacing: -0.035em;
          color: #000000;
        }
      }

      &__icon {

      }
    }
  }
}

/*-----------END-provide--------------*/


/*---END-FOR_INVESTORS------*/